@model IEnumerable<Autrisa.Models.Property>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var UserRole = HttpContextAccessor.HttpContext.Session.GetString("UserRole"); ;

    ViewData["Title"] = "Lista de Predios";
    var sumIncomeSoles = Model.Sum(x => x.IncomeSoles);
    var sumOutcomeSoles = Model.Sum(x => x.OutcomeSoles);
    var sumSls = sumIncomeSoles - sumOutcomeSoles;

    var sumIncomeDollars = Model.Sum(x => x.IncomeDollars);
    var sumOutcomeDollars = Model.Sum(x => x.OutcomeDollars);
    var sumDlls = sumIncomeDollars - sumOutcomeDollars;
}

<div class="col-12">
    <div class="card border rounded-3">
        <div class="card-header  border-bottom p-3">
            <div class="d-sm-flex justify-content-between align-items-center">
                <h5 class="mb-2 mb-sm-0">Predios</h5>
                @if (UserRole == "admin")
                {
                    <a class="btn btn-sm btn-primary" asp-action="Create"> <i class="fa-solid fa-plus"></i> Agregar </a>
                }
            </div>
        </div>
        <div class="card-body" style="min-height:500px">
            @if (TempData["Success"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["Success"]
                </div>
            }
            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["Error"]
                </div>
            }

            <table id="listTable" class="table table-sm table-bordered align-middle table-hover">
                <thead>
                    <tr>
                        <th rowspan="2">
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th rowspan="2">
                            @Html.DisplayNameFor(model => model.Number)
                        </th>
                        <th rowspan="2">
                            @Html.DisplayNameFor(model => model.Participation)
                        </th>
                        <th rowspan="2">
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th rowspan="2">
                            @Html.DisplayNameFor(model => model.Receptor)
                        </th>
                        <th rowspan="2">
                            @Html.DisplayNameFor(model => model.Currency)
                        </th>
                        <th colspan="3" class="text-center">
                            Soles
                        </th>
                        <th colspan="3" class="text-center">
                            Dolares
                        </th>
                        <th rowspan="2">Operaciones</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th class="text-end">
                            Ingreso
                        </th>
                        <th class="text-end">
                            Salida Soles
                        </th>
                        <th class="text-end">
                            Rentabilidad
                        </th>
                        <th class="text-end">
                            Ingreso
                        </th>
                        <th class="text-end">
                            Salida Soles
                        </th>
                        <th class="text-end">
                            Rentabilidad
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Number)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Participation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Receptor)
                            </td>
                            <td>
                                @if (item.Currency == 0)
                                {
                                    <text>Soles</text>
                                }
                                else
                                {
                                    <text>Dólares</text>
                                }
                            </td>
                            <td class="text-end">
                                @item.IncomeSoles
                            </td>
                            <td class="text-end">
                                @item.OutcomeSoles
                            </td>
                            <td class="text-end">
                                @{
                                    var rent = item.IncomeSoles - item.OutcomeSoles;
                                }
                                <text>@rent</text>
                            </td>
                            <td class="text-end">
                                @item.IncomeDollars
                            </td>
                            <td class="text-end">
                                @item.OutcomeDollars
                            </td>
                            <td class="text-end">
                                @{
                                    var rentdlls = item.IncomeDollars - item.OutcomeDollars;
                                }
                                <text>@rentdlls</text>
                            </td>
                            <td>
                                <a asp-controller="PropertiesOperations" asp-action="Index" asp-route-PropertyId="@item.Id" class="dropdown-item text-primary"><i class="fa-solid fa-eye"></i> Ver </a>
                            </td>
                            <td style="width:1%;">
                                <div class="dropdown">
                                    <a class="btn btn-sm btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v fa-lg"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a asp-action="Edit" asp-route-UniqueId="@item.UniqueId" class="dropdown-item text-primary"><i class="fa-solid fa-pen-to-square"></i> Editar </a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a asp-action="Delete" asp-route-UniqueId="@item.UniqueId" class="dropdown-item text-danger"><i class="fa-solid fa-trash"></i> Eliminar </a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
                <tfoot>
                    <tr class="font-weight-bold">
                        <th colspan="6">Total</th>

                        <th class="text-end">
                            @sumIncomeSoles
                        </th>
                        <th class="text-end">
                            @sumOutcomeSoles
                        </th>
                        <th class="text-end">
                            @sumSls
                        </th>
                        <th class="text-end">
                            @sumIncomeDollars
                        </th>
                        <th class="text-end">
                            @sumOutcomeDollars
                        </th>
                        <th class="text-end">
                            @sumDlls
                        </th>
                        <th colspan="2"></th>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>
</div>

@section Scripts {

    <link href="~/assets/vendor/datatables/datatables-1.13.1/css/datatables.bootstrap5.min.css" rel="stylesheet" />
    <script src="~/assets/vendor/yadcf/jquery.datatables.yadcf.js"></script>
    <link href="~/assets/vendor/yadcf/jquery.datatables.yadcf.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.13.4/b-2.3.6/b-colvis-2.3.6/b-html5-2.3.6/b-print-2.3.6/datatables.min.js"></script>


    <style>
        td .dropdown-toggle::after {
            display: none;
        }

        td .btn-sm {
            padding: 0.2rem 0.6rem !important;
        }
    </style>

    <script>
        $(document).ready(function () {
            $('#listTable').DataTable({
                "language": {
                    "url": "/assets/vendor/datatables/es-es.json"
                },
                dom: 'Bfrtip',
                buttons: [
                    'excel'
                ]
                //responsive: true
            });

            $(".alert-success").fadeTo(500, 500).slideUp(500, function () {
                $(".alert-success").slideUp(500);
            });

            $(".alert-danger").fadeTo(2000, 500).slideUp(500, function () {
                $(".alert-danger").slideUp(500);
            });
        });
    </script>
}