@model IEnumerable<Autrisa.Models.Account>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var UserRole = HttpContextAccessor.HttpContext.Session.GetString("UserRole"); ;

    ViewData["Title"] = "Lista de Cuentas";

    decimal? sumsol = 0;
    decimal? sumdlls = 0;
}

<div class="col-12">
    <div class="card border rounded-3">
        <div class="card-header  border-bottom p-3">
            <div class="d-sm-flex justify-content-between align-items-center">
                <h5 class="mb-2 mb-sm-0">Cuentas</h5>
                @if (UserRole == "admin")
                {
                    <a class="btn btn-sm btn-primary" asp-action="Create"> <i class="fa-solid fa-plus"></i> Agregar </a>
                }
            </div>
        </div>
        <div class="card-body" style="min-height:500px">
            @if (TempData["Success"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["Success"]
                </div>
            }
            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["Error"]
                </div>
            }

            <table id="listTable" class="table table-sm table-bordered align-middle table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BankId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AccountType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AccountNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Currency)
                        </th>
                        <th class="text-end">
                            Monto Soles
                        </th>
                        <th class="text-end">
                            Monto D&oacutelares
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.Currency == 0)
                        {
                            sumsol = sumsol + item.Amount;
                        }
                        else
                        {
                            sumdlls = sumdlls + item.Amount;
                        }


                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @item.BankId
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountNumber)
                            </td>
                            <td>
                                @if (item.Currency == 0)
                                {
                                    <text>Soles</text>
                                }
                                else
                                {
                                    <text>D&oacutelares</text>
                                }
                            </td>
                            <td class="text-end">
                                @if (item.Currency == 0)
                                {
                                    <text>@item.Amount</text>
                                }
                                else
                                {
                                    <text>0</text>
                                }
                            </td>
                            <td class="text-end">
                                @if (item.Currency == 1)
                                {
                                    <text>@item.Amount</text>
                                }
                                else
                                {
                                    <text>0</text>
                                }
                            </td>
                            <td style="width:1%;">
                                <div class="dropdown">
                                    <a class="btn btn-sm btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v fa-lg"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a asp-action="Edit" asp-route-UniqueId="@item.UniqueId" class="dropdown-item text-primary"><i class="fa-solid fa-pen-to-square"></i> Editar </a></li>
                                        @*<li><a asp-action="Details" asp-route-UniqueId="@item.UniqueId" class="dropdown-item text-primary"><i class="fa-solid fa-eye"></i> Detalle</a></li>*@
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a asp-action="Delete" asp-route-UniqueId="@item.UniqueId" class="dropdown-item text-danger"><i class="fa-solid fa-trash"></i> Eliminar </a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="4">
                            Total:
                        </th>
                        <th class="text-end">
                            @sumsol
                        </th>
                        <th class="text-end">
                            @sumdlls
                        </th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <link href="~/assets/vendor/datatables/datatables-1.13.1/css/datatables.bootstrap5.min.css" rel="stylesheet" />
    <script src="~/assets/vendor/yadcf/jquery.datatables.yadcf.js"></script>
    <link href="~/assets/vendor/yadcf/jquery.datatables.yadcf.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.13.4/b-2.3.6/b-colvis-2.3.6/b-html5-2.3.6/b-print-2.3.6/datatables.min.js"></script>

    <style>
        td .dropdown-toggle::after {
            display: none;
        }

        td .btn-sm {
            padding: 0.2rem 0.6rem !important;
        }
    </style>

    <script>
        $(document).ready(function () {
            $('#listTable').DataTable({
                "language": {
                    "url": "/assets/vendor/datatables/es-es.json"
                },
                dom: 'Bfrtip',
                buttons: [
                    'excel'
                ]
            });

            $(".alert-success").fadeTo(500, 500).slideUp(500, function () {
                $(".alert-success").slideUp(500);
            });

            $(".alert-danger").fadeTo(2000, 500).slideUp(500, function () {
                $(".alert-danger").slideUp(500);
            });
        });
    </script>
}