@model Autrisa.Models.Operation

@{
    ViewData["Title"] = "Agregar Movimientos";
}

<div class="col-12">
    <form asp-action="Create" enctype="multipart/form-data">
        <div class="card border rounded-3">
            <div class="card-header border-bottom p-3">
                <div class="d-sm-flex justify-content-between align-items-center">
                    <h5 class="mb-2 mb-sm-0">Agregar Movimientos</h5>
                </div>
                @if (ViewBag.Check != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewBag.Check 
                    </div>
                }
            </div>
            <div class="card-body">
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-4">
                        @*<div class="form-group">
                        <label class="control-label">Banco</label>
                        <select id="BankId" name="BankId" class="form-select" asp-items="@ViewBag.BankId">
                        <option value=""></option>
                        </select>
                        </div>*@
                        <div class="form-group">
                            <label class="control-label">Cuenta de cargo</label>
                            <select asp-for="AccountId" class="form-select" asp-items="@ViewBag.AccountId">
                                <option value=""></option>
                            </select>
                            <span asp-validation-for="AccountId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Tipo de operaci&oacute;n</label>
                            <select name="OperationType" id="OperationType" class="form-select">
                                @*//<option value=""></option>*@
                                <option value="1">Operaciones</option>
                                <option value="2">Préstamos</option>
                                <option value="3">Inversiones</option>
                                <option value="4">Predios</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Cliente</label>
                            <input name="customer" id="customer" class="form-control" type="text" required />
                        </div>
                        <div class="form-group">
                            <label asp-for="Type" class="control-label">Operación</label>
                            <select name="Type" id="Type" class="form-select">
                                <option value="0">Ingreso</option>
                                <option value="1">Salida</option>
                                <option value="2">Monto Inicial</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Modality" class="control-label"></label>
                            <select name="Modality" id="Modality" class="form-select">
                                <option value="0">Cheque</option>
                                <option value="1">Transferencia</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Number" class="control-label"></label>
                            <input asp-for="Number" class="form-control" type="text" />
                            <span asp-validation-for="Number" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="OperationDate" class="control-label"></label>
                            <input name="operDate" id="operDate" class="form-control" type="text" required />
                            <span asp-validation-for="OperationDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Concept" class="control-label"></label>
                            <input asp-for="Concept" class="form-control" type="text" required />
                            <span asp-validation-for="Concept" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" type="text" required />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label name="montoTransaccion" class="control-label">Monto</label>
                            <input name="montoTransaccion" id="montoTransaccion" class="form-control" type="text" required />
                        </div>
                        @*<div class="form-group">
                            <label name="Receptor" class="control-label">Receptor</label>
                            <input name="Receptor" id="Receptor" class="form-control" type="text" />
                        </div>
                        <hr />
                        <div class="form-group">
                            <label name="InitialBalance" class="control-label">Saldo Inicial</label>
                            <input name="InitialBalance" id="InitialBalance" class="form-control" type="text" />
                        </div>*@
                        <input type="hidden" value="@DateTime.Now.ToString("dd/MM/yyyy")" id="Created" name="Created" />
                        <input type="hidden" value="@ViewBag.LendingId" id="LendingId" name="LendingId" />
                        <input type="hidden" value="@ViewBag.InvestmentId" id="InvestmentId" name="InvestmentId" />
                        <input type="hidden" value="@ViewBag.PropertyId" id="PropertyId" name="PropertyId" />
                    </div>
                </div>
            </div>
            <div class="card-footer  border-bottom p-3">
                <div class="d-sm-flex justify-content-between align-items-center">
                    <a class="btn btn-sm btn-info" onclick="history.back()"><i class="fa-solid fa-arrow-left"></i> Regresar</a>
                    <button class="btn btn-sm btn-primary" type="submit" id="btnSave" asp-route-Monto="montoTransaccion"><i class="fa-solid fa-floppy-disk"></i>  Agregar </button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <link href="~/assets/vendor/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/assets/vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/assets/vendor/jquery-ui/jquery.ui.datepicker-es.js"></script>

    <script>
        $.datepicker.setDefaults($.datepicker.regional["es"]);

        var clientsJson = @Html.Raw(ViewBag.ClientsJson);
        //var clientsArray = JSON.parse(clientsJson);
        //var availableClients = clientsArray.map(function (client) {
        //    return client.Name;
        //});

        $(document).ready(function () {
            $("#operDate").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd/mm/yy"
            });

            //$("form").submit(function (event) {
            //    $("#btnSave").html('<i class="fa-solid fa-spinner fa-spin-pulse"></i> Procesando');
            //    $("#btnSave").prop('disabled', true);
            //});

            $("form").submit(function (event) {
                event.preventDefault();

                if (!/^[0-9]+(\.)?[0-9]*$/.test($("#montoTransaccion").val())) {

                    alert("Monto incorecto");
                    return false;
                }

                $("#btnSave").html('<i class="fa-solid fa-spinner fa-spin-pulse"></i> Procesando');
                $("#btnSave").prop('disabled', true);

                event.currentTarget.submit();
            });

               
                //console.log(availableClients);
                $("#customer").autocomplete({
                source: clientsJson
                });
            

            //$('#BankId').on('change', function () { // Seguir los cambios de dos o más elementos
            //    //alert('cambió');
            //    var id = $(this).val(); // Obtener el valor seleccionado
            //    // Hacer una petición AJAX al servidor
            //    $.ajax({
            //        url: '/Operations/Elementos', // La URL del controlador y la acción que manejarán la petición
            //        type: 'POST',
            //        data: { id: id }, // Enviar el ID seleccionado como parámetro
            //        success: function (response) {
            //            // Actualizar el segundo Select con la respuesta del servidor
            //            var select = $('#OperationType');
            //            select.empty(); // Eliminar todas las opciones anteriores
            //            select.append('<option value="">' + " " + '</option>');
            //            $.each(response, function (index, value) {
            //                if (value.type == 0) {
            //                    select.append('<option value="' + value.type + '">' + "Operaciones normales " + '</option>');
            //                }
            //                else if (value.type == 1) {
            //                    select.append('<option value="' + value.type + '">' + " Pr&eacute;stamos " + '</option>');
            //                }
            //                else if (value.type == 2) {
            //                    select.append('<option value="' + value.type + '">' + " Inversiones " + '</option>');
            //                }
            //                else if (value.type == 3) {
            //                    select.append('<option value="' + value.type + '">' + " Predios " + '</option>');
            //                }
            //            });
            //        },
            //        error: function () {
            //            alert('Error al cargar la lista');
            //        }
            //    });
            //});

            //$('#OperationType').on('change', function () { // Seguir los cambios de dos o más elementos
            //    var id = $(this).val(); // Obtener el valor seleccionado
            //    var bank = $('#BankId').val();
            //    // Hacer una petición AJAX al servidor
            //    $.ajax({
            //        url: '/Operations/CuentaOperacion', // La URL del controlador y la acción que manejarán la petición
            //        type: 'POST',
            //        data: { id: id, bank: bank }, // Enviar el ID seleccionado como parámetro
            //        success: function (response) {
            //            // Actualizar el segundo Select con la respuesta del servidor
            //            var select = $('#AccountId');
            //            select.empty(); // Eliminar todas las opciones anteriores
            //            select.append('<option value="">' + " " + '</option>');
            //            $.each(response, function (index, value) {
            //                if (value.type == 0) {
            //                    select.append('<option value="' + value.value + '">' + "Cuenta regular: " + value.text + '</option>');
            //                }
            //                else if (value.type == 1) {
            //                    select.append('<option value="' + value.value + '">' + " Cuenta de pr&eacute;stamo:  " + value.text + '</option>');
            //                }
            //                else if (value.type == 2) {
            //                    select.append('<option value="' + value.value + '">' + " Cuenta de inversi&oacute;n:  " + value.text + '</option>');
            //                }
            //                else if (value.type == 3) {
            //                    select.append('<option value="' + value.value + '">' + " Cuenta de predios:  " + value.text + '</option>');
            //                }
            //            });
            //        },
            //        error: function () {
            //            alert('Error al cargar la lista');
            //        }
            //    });
            //});
        });
    </script>
}