@model IEnumerable<Autrisa.Models.Operation>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var UserRole = HttpContextAccessor.HttpContext.Session.GetString("UserRole"); ;

    ViewData["Title"] = "Lista de Movimientos";
    var today = DateTime.Today;
    var lastDayOfMonth = new DateTime(today.Year, today.Month, DateTime.DaysInMonth(today.Year, today.Month));
}

<div class="col-12">
    <div class="card border rounded-3">
        <div class="card-header  border-bottom p-3">
            <div class="d-sm-flex justify-content-between align-items-center">
                <h5 class="mb-2 mb-sm-0">Movimientos</h5>
                @*<div class="row">
                    <div class="col">
                        @if (UserRole == "admin")
                        {
                            <a class="btn btn-sm btn-primary text-end" asp-action="Create"> <i class="fa-solid fa-plus"></i> Agregar</a>
                            <a class="btn btn-sm btn-secondary text-end" asp-action="MonthClosure">Cerrar mes</a>
                        }
                        <a class="btn btn-sm btn-success text-end" asp-action="Reportes"><i class="fa-solid fa-file-export"></i> Reportes</a>
                    </div>
                </div>*@
            </div>
        </div>

        <div class="card-body" style="min-height:500px">
            @if (TempData["Success"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["Success"]
                </div>
            }
            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["Error"]
                </div>
            }

            <table id="listTable" class="table table-sm table-bordered align-middle table-hover">
                <thead>
                    <tr>
                        <th>
                            Cuenta
                        </th>
                        <th>
                            A&ntilde;o / Mes
                        </th>
                        <th>
                            Tipo / Movimiento / Modalidad
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Number)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OperationDate)
                        </th>
                        <th>
                            Descripci&oacute;n / Concepto
                        </th>
                        <th class="text-end">
                            @Html.DisplayNameFor(model => model.Income)
                        </th>
                        <th class="text-end">
                            @Html.DisplayNameFor(model => model.Outcome)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Account.Name - @item.Account.AccountNumber
                            </td>
                            <td>
                                @item.Year / @item.Month
                            </td>
                            <td>
                                @if (item.Account.OperationType == 0)
                                {
                                    <text>Operaci&oacute;n</text>
                                }
                                else if (item.Account.OperationType == 1)
                                {
                                    <text>Pr&eacute;stamo</text>
                                }
                                else if (item.Account.OperationType == 2)
                                {
                                    <text>Inversi&oactue;n</text>
                                }
                                else if (item.Account.OperationType == 3)
                                {
                                    <text>Predios</text>
                                }
                                /
                                @if (item.Type == 0)
                                {
                                    <text>Ingreso</text>
                                }
                                else if (item.Type == 1)
                                {
                                    <text>Salida</text>
                                }
                                else
                                {
                                    <text>Cierre de mes</text>
                                }
                                /
                                @if (item.Modality == 0)
                                {
                                    <text>Cheque</text>
                                }
                                else if (item.Modality == 1)
                                {
                                    <text>Transferencia</text>
                                }
                                else if (item.Modality == 100)
                                {
                                    <text>Cierre de mes</text>
                                }
                            </td>
                            <td>
                                @item.Number
                            </td>
                            <td>
                                @item.OperationDate.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @item.Description / @item.Concept
                            </td>
                            <td class="text-end">
                                @item.Income
                            </td>
                            <td class="text-end">
                                @item.Outcome
                            </td>
                            <td style="width:1%;">
                                <div class="dropdown">
                                    <a class="btn btn-sm btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v fa-lg"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a asp-action="Edit" asp-route-UniqueId="@item.UniqueId" class="dropdown-item text-primary"><i class="fa-solid fa-pen-to-square"></i> Editar </a></li>
                                        @*<li><a asp-action="Details" asp-route-UniqueId="@item.UniqueId" class="dropdown-item text-primary"><i class="fa-solid fa-eye"></i> Detalle</a></li>*@
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a asp-action="Delete" asp-route-UniqueId="@item.UniqueId" class="dropdown-item text-danger"><i class="fa-solid fa-trash"></i> Eliminar </a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

@section Scripts {

    <link href="~/assets/vendor/datatables/datatables-1.13.1/css/datatables.bootstrap5.min.css" rel="stylesheet" />
    <script src="~/assets/vendor/yadcf/jquery.datatables.yadcf.js"></script>
    <link href="~/assets/vendor/yadcf/jquery.datatables.yadcf.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.13.4/b-2.3.6/b-colvis-2.3.6/b-html5-2.3.6/b-print-2.3.6/datatables.min.js"></script>

    <style>
        td .dropdown-toggle::after {
            display: none;
        }

        td .btn-sm {
            padding: 0.2rem 0.6rem !important;
        }
    </style>

    <style>
        .yadcf-filter {
            font-size: 0.875rem !important;
            border-radius: 4px;
            box-shadow: none;
            border: 1px solid #ced4da;
            margin-right: 2px;
            max-width: 150px !important;
        }

        .yadcf-filter-range-date {
            font-size: 0.875rem !important;
            border-radius: 4px;
            box-shadow: none;
            border: 1px solid #ced4da;
            margin-right: 2px;
        }

        .yadcf-filter-reset-button {
            position: relative;
            font-size: 0.875rem;
            border-radius: 4px;
            color: #fff;
            background-color: #0576b9;
            border-color: #0576b9;
            min-width: 29px !important;
            padding-top: 1px !important;
            height: 27px;
        }

        .yadcf-filter-range-date {
            font-size: 0.875rem;
            border-radius: 4px;
        }

        .yadcf-filter-wrapper-inner {
            border: 0;
        }
    </style>

    <script>
        $(document).ready(function () {
            var table = $('#listTable').DataTable({
                "language": {
                    "url": "/assets/vendor/datatables/es-es.json"
                },
                dom: 'Bfrtip',
                buttons: [
                    'excel'
                ]
            });

            yadcf.init(table, [

                {
                    column_number: 0,
                    filter_type: "select",
                    filter_default_label: ''
                },
                {
                    column_number: 1,
                    filter_type: "select",
                    filter_default_label: ''
                },
                {
                    column_number: 2,
                    filter_type: "select",
                    filter_default_label: ''
                },
                {
                    column_number: 3,
                    filter_type: "select",
                    filter_default_label: ''
                },
                {
                    column_number: 4,
                    filter_type: "select",
                    filter_default_label: ''
                },

            ],
                {
                    cumulative_filtering: true
                }
            );

            $(".alert-success").fadeTo(500, 500).slideUp(500, function () {
                $(".alert-success").slideUp(500);
            });

            $(".alert-danger").fadeTo(2000, 500).slideUp(500, function () {
                $(".alert-danger").slideUp(500);
            });
        });
    </script>
}